/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('../font/Poppins/Poppins-Regular.ttf'); */

/* CSS variables */
:root{
    /* Colors */
    --primary-color: #177C43;
    --secondary-color: #7BBC45;
    --contrast-color: #E6982B;
    --light-color: #90C58D;
    --white-color: #ffffff;

    /* Fonts */
    --font: 'Poppins', sans-serif;
}

/* General CSS */
body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

.container{
    /* width: 100%; */
    padding: 10%;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--light-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px 0 0 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #145c33;
  }

/* Header Section */
section.header{
    height: 100vh;
    background-image: url('../img/wave.svg');
    background-size: contain;
    background-repeat: repeat-x;
}

.navbar{
    padding: 5px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--light-color);
}

.nav-brand{
    width: 75%;
}

.nav-brand img{
    width: 10%;
    padding: 0 20%;
}

.nav-tabs{
    width: 100%;
    margin: auto;
}

.nav-tabs .nav-list .nav-list-item{
    display: inline;
    list-style-type: square;
    margin: auto;
    padding: 0 20px;
}

.nav-tabs a{
    --border-width: 2px;
    --bottom-distance: 0px;

    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14pt;
    display: inline-block;
    padding: 3px 0;
    background-image: linear-gradient(var(--white-color), var(--white-color));
    background-size: 0% var(--border-width);
    background-repeat: no-repeat;
    transition: background-size .3s ease;
}

.nav-tabs .nav-link{
    background-position: 0 calc(100% - var(--bottom-distance))
}

.nav-tabs a:hover {
    background-size: 100% var(--border-width);
}

.nav-tabs .active{
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
    background-image: none;
}

.nav-tabs .nav-btn{
    background: var(--primary-color);
    padding: 7px 5%;
    color: var(--white-color);
    border-radius: 10px;
    background-image: none;
    border: 1px solid var(--primary-color);
    transition: all .3s ease-out;
}

.nav-tabs .nav-btn:hover{
    background: #177c43bb;
    border-color: #177c43bb;
}

.nav-tabs .nav-btn-outline{
    border: 2px solid var(--primary-color);
    padding: 6px 3%;
    color: var(--white-color);
    border-radius: 10px;
    background-image: none;
    transition: border-color .5s ease-out;
}

.nav-tabs .nav-btn-outline:hover{
    border-color: var(--white-color);
}